name: CI/CD Pipeline

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.GH_TOKEN }}

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm test

    - name: Merge to main
      if: success()
      run: |
        git fetch
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        git checkout -B main origin/main
        git merge --no-ff ${{ github.sha }} --allow-unrelated-histories
        git push origin main
