name: CI/CD Pipeline

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm test

    - name: Merge to main
      if: success()
      run: |
        git checkout -b main
        git pull origin main

        # Configura el token de GitHub
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        git config --global credential.helper store
        git remote set-url origin "https://github.com/${{ github.repository }}.git"
        
        # Realiza el merge y push
        git merge --no-ff ${{ github.sha }}
        git push origin main
